@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title Us</h1>
<h3>Establised in 2015 in Malta, Clothes Store is an online store which offer great choice of clothes to the customers.</h3>
<p>&nbsp;</p>
<h2>To our Customers</h2>
<h4>We are glad to offer a great service to make your stay with us an enjoyable one. We have a group of stylists which work hard to offer you a great range of outfits.   </h4>
